* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  padding: 1rem;
  color: white;
  width: 100%;
  min-height: 100vh;
  background-image: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.calculator {
  width: 100%;
  max-width: 600px;
  margin-left: 10%;
  margin-top: 10%;

  h1 {
    font-size: 3rem;
    padding: 1rem;
  }
}

.input-box {
  margin: 2.5rem 0;
  padding: 2rem;
  border-radius: 0.7rem;
  background: rgb(46, 47, 46);
  display: flex;
  align-items: center;
    text-transform: uppercase;

  input {
    flex: 1;
    margin-right: 1.5rem;
    padding: 1rem 20px;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    border-radius: 3px;
    position: relative;
  }

  button {
    border: 0;
    outline: 0;
    padding: 1rem 20px;
    border-radius: 3px;
    font-weight: 600;
    color: whites;
    cursor: pointer;
  }
}

.input-box input::-webkit-calendar-picker-indicator {
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  position: absolute;
background-position: calc(100% - 10px);
  background-size: 2rem;
  cursor: pointer;

}

.input-box button:hover{
   scale: 1.1;
   transition: .3s ease-in-out;
}